<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">In-Store Lottery</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>*@

        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="promotions">
                        <span class="oi oi-power-standby" aria-hidden="true"></span> Promotions
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="gifts">
                        <span class="oi oi-camera-slr" aria-hidden="true"></span> Gifts
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-key" aria-hidden="true"></span> Users
                    </NavLink>
                </li>
                @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="/movies/search">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search Movies
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="genres">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Genres
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="people">
                <span class="oi oi-list-rich" aria-hidden="true"></span> People
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movies/create">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create a Movie
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
            </NavLink>
        </li>
                *@
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/enduserpromotions">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Lotteries
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
