@page "/"
@page "/index"
@inject NavigationManager navigationManager

<AuthorizeView Roles="Admin">
    <Authorized>
        <Lottery.Client.Pages.Promotions.IndexPromotions></Lottery.Client.Pages.Promotions.IndexPromotions>
    </Authorized>
    <Authorizing>
        <div>
            <h3>Loading</h3>
        </div>
    </Authorizing>
</AuthorizeView>

<AuthorizeView Roles="EndUser">
    <Authorized>
        <Lottery.Client.Pages.Promotions.IndexEndUserPromotions></Lottery.Client.Pages.Promotions.IndexEndUserPromotions>
    </Authorized>
    <Authorizing>
        <div>
            <h3>Loading</h3>
        </div>
    </Authorizing>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h3>Please login!</h3>
    </NotAuthorized>
</AuthorizeView>

        @*
            @inject IMoviesRepository moviesRepository
            <div>
                <h3>In theaters</h3>
                <MoviesList Movies="InTheaters" />
            </div>

            <div>
                <h3>Upcoming Releases</h3>
                <MoviesList Movies="UpcomingReleases" />
            </div>

            @code{
                private List<Movie> InTheaters;
                private List<Movie> UpcomingReleases;
                protected async override Task OnInitializedAsync()
                {
                    var response = await moviesRepository.GetIndexPageDTO();
                    InTheaters = response.Intheaters;
                    UpcomingReleases = response.UpcomingReleases;
                }
            }
        *@
