@page "/promotion/edit/{PromotionId:int}"
@inject IPromotionRepository promotionRepository
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>Edit Promotion</h3>

@if (Promotion != null)
{
    <PromotionForm Promotion="Promotion" OnValidSubmit="Edit" NotSelectedGifts="NotSelectedGifts" SelectedGifts="SelectedGifts"/>
}

@code {
    [Parameter] public int PromotionId { get; set; }

    private Promotion Promotion;
    private List<Gift> SelectedGifts;
    private List<Gift> NotSelectedGifts;

    protected async override Task OnInitializedAsync()
    {
        var model = await promotionRepository.GetPromotionForUpdate(PromotionId);
        Promotion = model.Promotion;
        SelectedGifts = model.SelectedGifts;
        NotSelectedGifts = model.NotSelectedGifts;
    }

    private async Task Edit()
    {
        await promotionRepository.UpdatePromotion(Promotion);
        navigationManager.NavigateTo("promotions");
    }
}
